.sidebar-left {
  display: flex;
  flex-direction: column;
  width: 270px;
  height: auto;
  .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 270px;
    height: auto;
    background-color: $bg-white;
    border-radius: 6px;
    padding: 1rem;
    margin: 0 0 1rem 0;
    position: relative;
    z-index: 0;
    .user-card-banner {
      img {
        position: absolute;
        top: 10px;
        left: 8px;
        z-index: -1;
        width: 254px;
        height: 43px;
        border-radius: 4px;
      }
    }
    .user-card-img {
      width: 70px;
      height: 70px;
      border-radius: 50px;
      border: 4px solid $bg-white;
      margin: 1rem 0;
    }
    .user-card-name {
      font-weight: 600;
      font-size: 1rem;
    }
    .user-card-job {
      margin-top: 4px;
      font-size: 14px;
      color: $text-color-gray;
      opacity: 0.7;
    }
    hr {
      margin: 1rem 0;
      width: 100%;
      background-color: $text-color-gray;
      border: 5px;
      border: 1px solid $text-color-gray;
      opacity: 0.2;
    }
    .card-profile-information {
      display: flex;
      width: 100%;
      justify-content: space-between;
      margin: 5px 0;
      &-title {
        font-weight: normal;
        font-size: 14px;
        color: $text-color-black;
      }
      &-score {
        font-size: 14px;
        color: $text-color-blue;
      }
    }
  }

  .newest,
  .events,
  .find-more {
    align-items: flex-start;
  }
  .newest {
    li {
      font-size: 14px;
      color: $text-color-blue;
      padding: 0.2rem 0;
      &:hover{
        color: $text-color-black;
      }
    }
    .newest-list {
      margin-bottom: 2rem;
    }
    .group-list-title {
      display: flex;
      width: 100%;
      justify-content: space-between;
      .online {
        color: $online-text-color;
        font-weight: normal;
        cursor: pointer;
        .arrow {
          display: inline-block;
          width: 10px;
          height: 10px;
          background: url("../img/arrow.svg") center center;
        }
      }
    }
    .group-list {
      &-icon {
        display: inline-block;
        height: 12px;
        width: 12px;
        background: url("../img/users-list.svg");
        margin-right: 5px;
      }
    }
  }

  .events {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    .plus {
      display: inline-block;
      width: 24px;
      height: 24px;
      background: url("../img/plus.png") center center;
    }
  }
  .find-more {
    color: $text-color-blue;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    transition: all 0.5s ease;
    cursor: pointer;
    &:hover {
      color: $bg-white;
      background: $text-color-blue;
    }
  }
}
