.sidebar-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 270px;
  height: auto;
}

.sidebar-left .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 270px;
  height: auto;
  background-color: #ffffff;
  border-radius: 6px;
  padding: 1rem;
  margin: 0 0 1rem 0;
  position: relative;
  z-index: 0;
}

.sidebar-left .card .user-card-banner img {
  position: absolute;
  top: 10px;
  left: 8px;
  z-index: -1;
  width: 254px;
  height: 43px;
  border-radius: 4px;
}

.sidebar-left .card .user-card-img {
  width: 70px;
  height: 70px;
  border-radius: 50px;
  border: 4px solid #ffffff;
  margin: 1rem 0;
}

.sidebar-left .card .user-card-name {
  font-weight: 600;
  font-size: 1rem;
}

.sidebar-left .card .user-card-job {
  margin-top: 4px;
  font-size: 14px;
  color: #aaaaaa;
  opacity: 0.7;
}

.sidebar-left .card hr {
  margin: 1rem 0;
  width: 100%;
  background-color: #aaaaaa;
  border: 5px;
  border: 1px solid #aaaaaa;
  opacity: 0.2;
}

.sidebar-left .card .card-profile-information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 5px 0;
}

.sidebar-left .card .card-profile-information-title {
  font-weight: normal;
  font-size: 14px;
  color: #17272f;
}

.sidebar-left .card .card-profile-information-score {
  font-size: 14px;
  color: #006699;
}

.sidebar-left .newest,
.sidebar-left .events,
.sidebar-left .find-more {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.sidebar-left .newest li {
  font-size: 14px;
  color: #006699;
  padding: 0.2rem 0;
}

.sidebar-left .newest li:hover {
  color: #17272f;
}

.sidebar-left .newest .newest-list {
  margin-bottom: 2rem;
}

.sidebar-left .newest .group-list-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.sidebar-left .newest .group-list-title .online {
  color: #31b057;
  font-weight: normal;
  cursor: pointer;
}

.sidebar-left .newest .group-list-title .online .arrow {
  display: inline-block;
  width: 10px;
  height: 10px;
  background: url("../img/arrow.svg") center center;
}

.sidebar-left .newest .group-list-icon {
  display: inline-block;
  height: 12px;
  width: 12px;
  background: url("../img/users-list.svg");
  margin-right: 5px;
}

.sidebar-left .events {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  cursor: pointer;
}

.sidebar-left .events .plus {
  display: inline-block;
  width: 24px;
  height: 24px;
  background: url("../img/plus.png") center center;
}

.sidebar-left .find-more {
  color: #006699;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 16px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  cursor: pointer;
}

.sidebar-left .find-more:hover {
  color: #ffffff;
  background: #006699;
}

.sidebar-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 270px;
  height: auto;
}

.sidebar-left .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 270px;
  height: auto;
  background-color: #ffffff;
  border-radius: 6px;
  padding: 1rem;
  margin: 0 0 1rem 0;
  position: relative;
  z-index: 0;
}

.sidebar-left .card .user-card-banner img {
  position: absolute;
  top: 10px;
  left: 8px;
  z-index: -1;
  width: 254px;
  height: 43px;
  border-radius: 4px;
}

.sidebar-left .card .user-card-img {
  width: 70px;
  height: 70px;
  border-radius: 50px;
  border: 4px solid #ffffff;
  margin: 1rem 0;
}

.sidebar-left .card .user-card-name {
  font-weight: 600;
  font-size: 1rem;
}

.sidebar-left .card .user-card-job {
  margin-top: 4px;
  font-size: 14px;
  color: #aaaaaa;
  opacity: 0.7;
}

.sidebar-left .card hr {
  margin: 1rem 0;
  width: 100%;
  background-color: #aaaaaa;
  border: 5px;
  border: 1px solid #aaaaaa;
  opacity: 0.2;
}

.sidebar-left .card .card-profile-information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 5px 0;
}

.sidebar-left .card .card-profile-information-title {
  font-weight: normal;
  font-size: 14px;
  color: #17272f;
}

.sidebar-left .card .card-profile-information-score {
  font-size: 14px;
  color: #006699;
}

.sidebar-left .newest,
.sidebar-left .events,
.sidebar-left .find-more {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.sidebar-left .newest li {
  font-size: 14px;
  color: #006699;
  padding: 0.2rem 0;
}

.sidebar-left .newest li:hover {
  color: #17272f;
}

.sidebar-left .newest .newest-list {
  margin-bottom: 2rem;
}

.sidebar-left .newest .group-list-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.sidebar-left .newest .group-list-title .online {
  color: #31b057;
  font-weight: normal;
  cursor: pointer;
}

.sidebar-left .newest .group-list-title .online .arrow {
  display: inline-block;
  width: 10px;
  height: 10px;
  background: url("../img/arrow.svg") center center;
}

.sidebar-left .newest .group-list-icon {
  display: inline-block;
  height: 12px;
  width: 12px;
  background: url("../img/users-list.svg");
  margin-right: 5px;
}

.sidebar-left .events {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  cursor: pointer;
}

.sidebar-left .events .plus {
  display: inline-block;
  width: 24px;
  height: 24px;
  background: url("../img/plus.png") center center;
}

.sidebar-left .find-more {
  color: #006699;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 16px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  cursor: pointer;
}

.sidebar-left .find-more:hover {
  color: #ffffff;
  background: #006699;
}

.card {
  width: 540px;
  height: auto;
  border-radius: 6px;
  background: #ffffff;
  padding: 1rem;
  margin: 0 0 1rem 0;
}

hr {
  width: 100%;
  border: 1px solid #aaaaaa;
  background: #aaaaaa;
  border-radius: 10px;
  opacity: 0.1;
  margin: 0.5rem 0;
}

.post-box textarea {
  width: 100%;
  height: 65px;
  border: none;
  resize: none;
  outline: none;
}

.post-box textarea::-webkit-input-placeholder {
  color: #aaaaaa;
}

.post-box textarea:-ms-input-placeholder {
  color: #aaaaaa;
}

.post-box textarea::-ms-input-placeholder {
  color: #aaaaaa;
}

.post-box textarea::placeholder {
  color: #aaaaaa;
}

.post-box ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.post-box ul li {
  font-size: 14px;
  padding: 0.5rem 1rem;
  border-radius: 6px;
}

.post-box ul li:hover {
  background: #f5f6f8;
}

.post-box ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #17272f;
}

.photo-icon, .filter-card .filter-wrapper .arrow, .post .post-top .settings-icon, .post-area .post-like-area .like-icon,
.post-area .post-like-area .okey-icon, .post-area .likes-icon,
.post-area .comment-icon,
.post-area .share-icon,
.post-area .send-icon, .post .comment-area .textarea-wrapper .camera-icon,
.video-icon,
.event-icon,
.write-articles-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.photo-icon, .filter-card .filter-wrapper .arrow, .post .post-top .settings-icon, .post-area .post-like-area .like-icon,
.post-area .post-like-area .okey-icon, .post-area .likes-icon,
.post-area .comment-icon,
.post-area .share-icon,
.post-area .send-icon, .post .comment-area .textarea-wrapper .camera-icon {
  background: url("../img/camera.png");
}

.video-icon {
  background: url("../img/video.png");
}

.event-icon {
  background: url("../img/calender.png");
}

.write-articles-icon {
  background: url("../img/edit.png");
}

.filter-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: rgba(222, 222, 222, 0.24);
}

.filter-card .filter-title {
  font-weight: normal;
}

.filter-card .filter-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.filter-card .filter-wrapper select {
  border: none;
  outline: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: transparent;
  font-weight: bold;
}

.filter-card .filter-wrapper .arrow {
  background: url("../img/arrow.svg") center center;
}

.post .post-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.post .post-top .user-informations-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 10px;
          column-gap: 10px;
}

.post .post-top .user-informations-wrapper img {
  width: 40px;
  height: 40px;
  border-radius: 50px;
}

.post .post-top .user-informations-wrapper .user-informations {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  row-gap: 2px;
}

.post .post-top .user-informations-wrapper .user-informations h5 {
  color: #aaaaaa;
  font-size: 12px;
  opacity: 0.6;
  font-weight: normal;
}

.post .post-top .settings-icon {
  cursor: pointer;
  background: url("../img/setting.png") center center;
}

.post-area .explanation {
  font-size: 14px;
  margin: 12px 0;
}

.post-area .tags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.post-area .tags li {
  padding: 0.3rem;
}

.post-area .tags li a {
  color: #006699;
}

.post-area .tags li a:hover {
  color: #17272f;
}

.post-area img {
  width: 100%;
  height: 100%;
}

.post-area .post-like-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 1rem 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.post-area .post-like-area h5 {
  font-size: 12px;
  font-weight: normal;
  color: #17272f;
  padding: 0 0.3rem;
}

.post-area .post-like-area .like-icon {
  background: url("../img/heart.png") no-repeat center center;
}

.post-area .post-like-area .okey-icon {
  background: url("../img/thumbs.png") no-repeat center center;
}

.post-area .button-group {
  padding: 0;
  margin: 0;
}

.post-area .button-group ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.post-area .button-group ul li {
  padding: 1rem;
}

.post-area .button-group ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #aaaaaa;
  font-weight: normal;
}

.post-area .button-group ul li a:hover {
  -webkit-filter: brightness(0.5) sepia(1) hue-rotate(170deg) saturate(3);
          filter: brightness(0.5) sepia(1) hue-rotate(170deg) saturate(3);
}

.post-area .likes-icon {
  background: url("../img/like.png") no-repeat center center;
}

.post-area .comment-icon {
  background: url("../img/message.svg") no-repeat center center;
}

.post-area .share-icon {
  background: url("../img/share.png") no-repeat center center;
}

.post-area .send-icon {
  background: url("../img/send.png") no-repeat center center;
}

.post .comment-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-column-gap: 10px;
          column-gap: 10px;
}

.post .comment-area img {
  width: 40px;
  height: 40px;
  border-radius: 50px;
}

.post .comment-area .textarea-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 48px;
  border: 2px solid #eaeaea;
  border-radius: 6px;
}

.post .comment-area .textarea-wrapper textarea {
  width: 90%;
  height: 90%;
  background: transparent;
  padding: 10px;
  border: none;
  outline: none;
  resize: none;
}

.post .comment-area .textarea-wrapper textarea::-webkit-input-placeholder {
  color: #aaaaaa;
  opacity: 0.5;
}

.post .comment-area .textarea-wrapper textarea:-ms-input-placeholder {
  color: #aaaaaa;
  opacity: 0.5;
}

.post .comment-area .textarea-wrapper textarea::-ms-input-placeholder {
  color: #aaaaaa;
  opacity: 0.5;
}

.post .comment-area .textarea-wrapper textarea::placeholder {
  color: #aaaaaa;
  opacity: 0.5;
}

.post .comment-area .textarea-wrapper .separator {
  width: 2px;
  height: 50%;
  background: #f5f6f8;
  margin: 0 10px;
}

.post .comment-area .textarea-wrapper .camera-icon {
  background: url("../img/camera.png") no-repeat center center;
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
  cursor: pointer;
  margin: 0 5px;
}

.post .comment-area .textarea-wrapper .camera-icon:hover {
  -webkit-filter: brightness(0.5) sepia(1) hue-rotate(170deg) saturate(3);
          filter: brightness(0.5) sepia(1) hue-rotate(170deg) saturate(3);
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  list-style-type: none;
  text-decoration: none;
}

:root {
  background-color: #f5f6f8;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 56px;
  background-color: #ffffff;
  font-family: "Roboto", sans-serif;
}

.nav .logo {
  width: 92px;
  height: 24px;
  margin-right: 1rem;
}

.nav .search-wrapper {
  min-width: 312px;
  height: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f5f6f8;
  border-radius: 4px;
}

.nav .search-wrapper .icon-search {
  width: 20px;
  height: 20px;
  margin: 0 10px;
}

.nav .search-wrapper input {
  width: 80%;
  height: 90%;
  background-color: transparent;
  border: none;
  outline: none;
}

.nav .nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 5rem 0 3rem;
}

.nav .nav-list a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
}

.nav .nav-list a li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
  color: #006699;
}

.nav .nav-list .home,
.nav .nav-list .users,
.nav .nav-list .briefcase,
.nav .nav-list .message,
.nav .nav-list .bell,
.nav .nav-list .grid {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 24px;
  height: 24px;
  margin-right: 5px;
}

.nav .nav-list .home:hover,
.nav .nav-list .users:hover,
.nav .nav-list .briefcase:hover,
.nav .nav-list .message:hover,
.nav .nav-list .bell:hover,
.nav .nav-list .grid:hover {
  -webkit-filter: brightness(0.5) sepia(1) hue-rotate(170deg) saturate(3);
          filter: brightness(0.5) sepia(1) hue-rotate(170deg) saturate(3);
}

.nav .home {
  background: url("../img/home.svg") no-repeat center center;
}

.nav .users {
  background: url("../img/users.svg") no-repeat center center;
}

.nav .briefcase {
  background: url("../img/briefcase.svg") no-repeat center center;
}

.nav .message {
  background: url("../img/message.svg") no-repeat center center;
}

.nav .bell {
  background: url("../img/bell.svg") no-repeat center center;
}

.nav .grid {
  background: url("../img/grid.svg") no-repeat center center;
}

.nav .user-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 1rem;
          column-gap: 1rem;
  cursor: pointer;
}

.nav .user-menu .user-menu-information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.nav .user-menu .user-menu-information .user-menu-title {
  font-weight: 500;
  font-size: 14px;
}

.nav .user-menu .user-menu-information .online {
  margin-top: 3px;
  color: #31b057;
}

.nav .user-menu .user {
  width: 30px;
  height: 30px;
  border-radius: 50px;
}

.nav .user-menu .arrow {
  width: 10px;
  height: 10px;
  background: url("../img/arrow.svg") no-repeat center center;
}

.content-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1rem 10rem;
  -webkit-column-gap: 2rem;
          column-gap: 2rem;
}
/*# sourceMappingURL=main.css.map */