@charset "UTF-8";
@font-face {
  font-family: 'iconfont';
  src: url("../icon-font/iconfont.eot?71890918");
  src: url("../icon-font/iconfont.eot?71890918#iefix") format("embedded-opentype"), url("../icon-font/iconfont.woff2?71890918") format("woff2"), url("../icon-font/iconfont.woff?71890918") format("woff"), url("../icon-font/iconfont.ttf?71890918") format("truetype"), url("../icon-font/iconfont.svg?71890918#iconfont") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
  @media screen and (-webkit-min-device-pixel-ratio:0) {
    @font-face {
      font-family: 'iconfont';
      src: url('../font/iconfont.svg?71890918#iconfont') format('svg');
    }
  }
  */
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "iconfont";
  font-style: normal;
  font-weight: normal;
  speak: never;
  display: inline-block;
  text-decoration: inherit;
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-arrow-right:before {
  content: '\e801';
}

/* '' */
.icon-atm:before {
  content: '\e802';
}

/* '' */
.icon-back:before {
  content: '\e803';
}

/* '' */
.icon-bank:before {
  content: '\e804';
}

/* '' */
.icon-block:before {
  content: '\e805';
}

/* '' */
.icon-card:before {
  content: '\e806';
}

/* '' */
.icon-chart:before {
  content: '\e807';
}

/* '' */
.icon-download:before {
  content: '\e808';
}

/* '' */
.icon-filter:before {
  content: '\e809';
}

/* '' */
.icon-loan:before {
  content: '\e80b';
}

/* '' */
.icon-pig:before {
  content: '\e80c';
}

/* '' */
.icon-pincode:before {
  content: '\e80d';
}

/* '' */
.icon-request:before {
  content: '\e80f';
}

/* '' */
.icon-send:before {
  content: '\e811';
}

/* '' */
.icon-plus:before {
  content: '\e813';
}

/* '' */
.icon-search:before {
  content: '\e814';
}

/* '' */
.icon-home:before {
  content: '\e815';
}

/* '' */
.icon-3dots:before {
  content: '\e816';
}

/* '' */
.icon-settings:before {
  content: '\e817';
}

/* '' */
@font-face {
  font-family: 'Louis George Cafe';
  src: url("../font/LouisGeorgeCafe-Bold.eot");
  src: url("../font/LouisGeorgeCafe-Bold.eot?#iefix") format("embedded-opentype"), url("../font/LouisGeorgeCafe-Bold.woff2") format("woff2"), url("../font/LouisGeorgeCafe-Bold.woff") format("woff"), url("../font/LouisGeorgeCafe-Bold.ttf") format("truetype"), url("../font/LouisGeorgeCafe-Bold.svg#LouisGeorgeCafe-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Louis George Cafe';
  src: url("../font/LouisGeorgeCafe.eot");
  src: url("../font/LouisGeorgeCafe.eot?#iefix") format("embedded-opentype"), url("../font/LouisGeorgeCafe.woff2") format("woff2"), url("../font/LouisGeorgeCafe.woff") format("woff"), url("../font/LouisGeorgeCafe.ttf") format("truetype"), url("../font/LouisGeorgeCafe.svg#LouisGeorgeCafe") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Louis George Cafe';
  src: url("../font/LouisGeorgeCafeLight.eot");
  src: url("../font/LouisGeorgeCafeLight.eot?#iefix") format("embedded-opentype"), url("../font/LouisGeorgeCafeLight.woff2") format("woff2"), url("../font/LouisGeorgeCafeLight.woff") format("woff"), url("../font/LouisGeorgeCafeLight.ttf") format("truetype"), url("../font/LouisGeorgeCafeLight.svg#LouisGeorgeCafeLight") format("svg");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Louis George Cafe";
  list-style-type: none;
  text-decoration: none;
}

body {
  background-color: #1a212a;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 3rem 0;
}

.main-card {
  width: 414px;
  height: auto;
  border: 3px solid #eee;
  padding: 1.5rem 0 0 0;
  border-radius: 20px;
  position: relative;
}

.main-card .card-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 2rem;
}

.main-card .card-header .card-header-title {
  color: #6b6b6b;
}

.main-card .card-header .card-header-price {
  margin: 0.5rem 0 0 0;
  color: #fff;
}

.main-card .card-header .user-photo {
  border-radius: 50px;
}

.main-card .options-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-x: scroll;
  -ms-touch-action: pan-x;
      touch-action: pan-x;
  margin: 1rem 1rem;
  padding-bottom: 1rem;
}

.main-card .options-slider::-webkit-scrollbar {
  height: 0.6rem;
}

.main-card .options-slider::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background-color: #252d37;
  outline: 1px solid #252d37;
}

.main-card .options-slider .option-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-card .options-slider .option-list .option-wrapper {
  text-align: center;
}

.main-card .options-slider .option-list .option-wrapper .option {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 60px;
  width: 60px;
  margin: 0 0.5rem;
  border-radius: 25px;
  background-color: #252d37;
}

.main-card .options-slider .option-list .option-wrapper .option i {
  color: #fff;
  font-size: 20px;
}

.main-card .options-slider .option-list .option-wrapper .text {
  font-size: 14px;
  margin: 0.5rem 0 0 0;
  color: #fff;
}

.main-card .transaction-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 2rem;
  width: 100%;
  height: 400px;
  background-color: #1b242e;
  border-radius: 50px 50px 0 0;
  -ms-touch-action: pan-y;
      touch-action: pan-y;
  overflow-y: scroll;
  color: #fff;
  font-size: 14px;
}

.main-card .transaction-card::-webkit-scrollbar {
  width: 0.7rem;
}

.main-card .transaction-card::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background-color: #252d37;
  outline: 1px solid #252d37;
}

.main-card .transaction-card .today-transaction-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 0 1rem 0;
}

.main-card .transaction-card .today-transaction-top .top-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-card .transaction-card .today-transaction-top .top-buttons a .icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 52px;
  height: 52px;
  background-color: #252d37;
  border-radius: 15px;
  margin: 0 0.5rem;
}

.main-card .transaction-card .today-transaction-top .top-buttons a .icon i {
  color: #fff;
  font-size: 18px;
}

.main-card .transaction-card .transaction-paid {
  padding: 1rem 0;
}

.main-card .transaction-card .transaction-paid hr {
  border-color: #6b6b6b;
}

.main-card .transaction-card .transaction-paid .paid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 1rem 0;
}

.main-card .transaction-card .transaction-paid .paid-detail h4 {
  color: #6b6b6b;
  margin: .5rem 0 0 0;
}

.main-card .bottom-menu {
  width: 100%;
  height: 60px;
  position: relative;
  bottom: 0;
  left: 0;
  background-color: #1a212a;
  border-radius: 0 0 15px 15px;
}

.main-card .bottom-menu ul {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.main-card .bottom-menu ul li a .icon i {
  color: #157aff;
  font-size: 30px;
}
/*# sourceMappingURL=main.css.map */