$bg-color-dark: #1a212a;
$bg-color-lightdark: #252d37;
$bg-color-lightdark-2: #1b242e;
$text-white: #fff;
$text-gray: #6b6b6b;
$border-color: #eee;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Mulish", sans-serif;
  list-style-type: none;
  text-decoration: none;
}

body {
  background-color: $bg-color-dark;
}

.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 3rem 0;
}

.main-card {
  width: 414px;
  height: auto;
  border: 3px solid $border-color;
  padding: 1.5rem 0;
  border-radius: 20px;
  position: relative;
  .card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 2rem;
    .card-header-title {
      color: $text-gray;
    }
    .card-header-price {
      margin: 0.5rem 0 0 0;
      color: $text-white;
    }
  }
  .options-slider {
    display: flex;
    overflow-x: scroll;
    touch-action: pan-x;
    margin: 1rem 1rem;
    padding-bottom: 1rem;
    &::-webkit-scrollbar {
      height: 0.6rem;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 20px;
      background-color: $bg-color-lightdark;
      outline: 1px solid $bg-color-lightdark;
    }
    .option-list {
      display: flex;
      .option-wrapper {
        display: flex;
        text-align: center;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .option {
          display: flex;
          flex-direction: column;
          align-items: center;
          height: 60px;
          width: 60px;
          margin: 0 0.5rem;
          border-radius: 25px;
          background-color: $bg-color-lightdark;
        }
        .text {
          font-size: 14px;
          margin: 0.5rem 0 0 0;
          color: $text-white;
        }
      }
    }
  }

  .transaction-card {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    width: 100%;
    height: 400px;
    background-color: $bg-color-lightdark-2;
    border-radius: 50px;
    touch-action: pan-y;
    overflow-y: scroll;
    color: $text-white;
    font-size: 14px;
    &::-webkit-scrollbar {
      width: 0.7rem;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 20px;
      background-color: $bg-color-lightdark;
      outline: 1px solid $bg-color-lightdark;
    }
  }

  .bottom-menu {
    width: 100%;
    height: 80px;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: $bg-color-dark;
    border-radius: 0 0 15px 15px;
    .bottom-nav {
    }
  }
}
