$bg-color-dark: #1a212a;
$bg-color-lightdark: #252d37;
$bg-color-lightdark-2: #1b242e;
$text-white: #fff;
$text-gray: #6b6b6b;
$text-blue: #157aff;
$border-color: #eee;
@import "icon-font";
@import "font";
@import "mixin";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Louis George Cafe";
  list-style-type: none;
  text-decoration: none;
}

body {
  background-color: $bg-color-dark;
}

.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 3rem 0;
}

.main-card {
  width: 414px;
  height: auto;
  border: 3px solid $border-color;
  padding: 1.5rem 0 0 0;
  border-radius: 20px;
  position: relative;
  @include responsive(small) {
    width: 90%;
  }
  .card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 2rem;
    .card-header-title {
      color: $text-gray;
    }
    .card-header-price {
      margin: 0.5rem 0 0 0;
      color: $text-white;
    }
    .user-photo {
      border-radius: 50px;
    }
  }
  .options-slider {
    display: flex;
    overflow-x: scroll;
    touch-action: pan-x;
    margin: 1rem 1rem;
    padding-bottom: 1rem;
    &::-webkit-scrollbar {
      height: 0.6rem;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 20px;
      background-color: $bg-color-lightdark;
      outline: 1px solid $bg-color-lightdark;
    }
    .option-list {
      display: flex;
      .option-wrapper {
        text-align: center;
        .option {
          display: flex;
          align-items: center;
          justify-content: center;
          height: 60px;
          width: 60px;
          margin: 0 0.5rem;
          border-radius: 25px;
          background-color: $bg-color-lightdark;
          i {
            color: $text-white;
            font-size: 20px;
          }
        }
        .text {
          font-size: 14px;
          margin: 0.5rem 0 0 0;
          color: $text-white;
        }
      }
    }
  }

  .transaction-card {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    width: 100%;
    height: 400px;
    background-color: $bg-color-lightdark-2;
    border-radius: 50px 50px 0 0;
    touch-action: pan-y;
    overflow-y: scroll;
    color: $text-white;
    font-size: 14px;
    &::-webkit-scrollbar {
      width: 0.7rem;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 20px;
      background-color: $bg-color-lightdark;
      outline: 1px solid $bg-color-lightdark;
    }
    .today-transaction {
      &-top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 0 1rem 0;
        .top-buttons {
          display: flex;
          a {
            .icon {
              display: flex;
              align-items: center;
              justify-content: center;
              width: 52px;
              height: 52px;
              background-color: $bg-color-lightdark;
              border-radius: 15px;
              margin: 0 0.5rem;
              i {
                color: $text-white;
                font-size: 18px;
              }
            }
          }
        }
      }
    }
    .transaction-paid {
      padding: 1rem 0;
      hr {
        border-color: $text-gray;
      }
      .paid {
        display: flex;
        justify-content: space-around;
        margin: 1rem 0;
        img {
          width: 50px;
          height: 50px;
        }
        &-detail {
          margin: 0 0.5rem;
          h4 {
            color: $text-gray;
            margin: 0.5rem 0 0 0;
          }
        }
      }
    }
  }

  .bottom-menu {
    width: 100%;
    height: 60px;
    position: relative;
    bottom: 0;
    left: 0;
    background-color: $bg-color-dark;
    border-radius: 0 0 15px 15px;

    ul {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: space-around;
      li {
        a {
          .icon {
            i {
              color: $text-blue;
              font-size: 30px;
            }
          }
        }
      }
    }
  }

  //Main Card 2 - Your Cards Component
  .card-header {
    display: flex;
    align-items: center;
    .back {
      .icon-back {
        color: $text-white;
        font-size: 24px;
      }
    }
    .header-title {
      h2 {
        color: $text-white;
      }
    }
    .menu {
      .icon-3dots {
        color: $text-white;
        font-size: 24px;
      }
    }
  }
  //Credit cards list
  .card-list {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 1rem;
    padding: 1.5rem;
    overflow-x: scroll;
    touch-action: pan-x;

    &::-webkit-scrollbar {
      height: 0.6rem;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 20px;
      background-color: $bg-color-lightdark;
      outline: 1px solid $bg-color-lightdark;
    }
    .card-color-1 {
      background: #3a6186;
      background: -webkit-linear-gradient(to right, #89253e, #3a6186);
      background: linear-gradient(to right, #89253e, #3a6186);
    }
    .card-color-2 {
      background: #141e30; /* fallback for old browsers */
      background: -webkit-linear-gradient(to right, #243b55, #141e30); /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(
        to right,
        #243b55,
        #141e30
      ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }
    .card-color-3 {
      background: #1d4350; /* fallback for old browsers */
      background: -webkit-linear-gradient(to right, #a43931, #1d4350); /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(
        to right,
        #a43931,
        #1d4350
      ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }
    .credit-card {
      &:first-child {
        margin: 0 1.5rem 0 0;
      }
      &:last-child {
        margin: 0 0 0 2rem;
      }
      min-width: 310px;
      height: 170px;
      padding: 1rem 1.5rem;
      border-radius: 20px;
      box-shadow: 0.5px 0.5px 10px rgba($text-white, 0.3);

      &-header {
        .bank-name {
          font-weight: normal;
          color: $text-white;
        }
      }
      &-main {
        margin: 2rem 0 0 0;
        img {
          width: 40px;
          height: 30px;
        }
      }
      &-footer {
        .card-number-wrapper {
          display: flex;
          justify-content: space-between;
          align-items: center;
          .card-number {
            padding: 1rem 0 0 0;
            color: $text-white;
          }
        }
      }
    }
  }
}
