$bg-color-dark: #1a212a;
$bg-color-lightdark: #252d37;
$bg-color-lightdark-2: #1b242e;
$text-white: #fff;
$text-gray: #6b6b6b;
$text-blue: #157aff;
$border-color: #eee;
@import "icon-font";
@import "font";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Louis George Cafe";
  list-style-type: none;
  text-decoration: none;
}

body {
  background-color: $bg-color-dark;
}

.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 3rem 0;
}

.main-card {
  width: 414px;
  height: auto;
  border: 3px solid $border-color;
  padding: 1.5rem 0 0 0;
  border-radius: 20px;
  position: relative;
  .card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 2rem;
    .card-header-title {
      color: $text-gray;
    }
    .card-header-price {
      margin: 0.5rem 0 0 0;
      color: $text-white;
    }
    .user-photo{
      border-radius: 50px;
    }
  }
  .options-slider {
    display: flex;
    overflow-x: scroll;
    touch-action: pan-x;
    margin: 1rem 1rem;
    padding-bottom: 1rem;
    &::-webkit-scrollbar {
      height: 0.6rem;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 20px;
      background-color: $bg-color-lightdark;
      outline: 1px solid $bg-color-lightdark;
    }
    .option-list {
      display: flex;
      .option-wrapper {
        text-align: center;
        .option {
          display: flex;
          align-items: center;
          justify-content: center;
          height: 60px;
          width: 60px;
          margin: 0 0.5rem;
          border-radius: 25px;
          background-color: $bg-color-lightdark;
          i {
            color: $text-white;
            font-size: 20px;
          }
        }
        .text {
          font-size: 14px;
          margin: 0.5rem 0 0 0;
          color: $text-white;
        }
      }
    }
  }

  .transaction-card {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    width: 100%;
    height: 400px;
    background-color: $bg-color-lightdark-2;
    border-radius: 50px 50px 0 0;
    touch-action: pan-y;
    overflow-y: scroll;
    color: $text-white;
    font-size: 14px;
    &::-webkit-scrollbar {
      width: 0.7rem;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 20px;
      background-color: $bg-color-lightdark;
      outline: 1px solid $bg-color-lightdark;
    }
    .today-transaction {
      &-top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 0 1rem 0;
        .top-buttons {
          display: flex;
          a {
            .icon {
              display: flex;
              align-items: center;
              justify-content: center;
              width: 52px;
              height: 52px;
              background-color: $bg-color-lightdark;
              border-radius: 15px;
              margin: 0 0.5rem;
              i {
                color: $text-white;
                font-size: 18px;
              }
            }
          }
        }
      }
      
    }
    .transaction-paid {
      padding: 1rem 0;
      hr{
        border-color: $text-gray;
      }
      .paid {
        display: flex;
        justify-content: space-around;
        margin:1rem 0;

        &-detail{
          h4{
            color: $text-gray;
            margin:.5rem 0 0 0;
          }
        }
      }
    }
  }

  .bottom-menu {
    width: 100%;
    height: 60px;
    position: relative;
    bottom: 0;
    left: 0;
    background-color: $bg-color-dark;
    border-radius: 0 0 15px 15px;

    ul {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: space-around;
      li {
        a {
          .icon {
            i {
              color: $text-blue;
              font-size: 30px;
            }
          }
        }
      }
    }
  }
}
